/* 필수항목 부분 */
.MachineRnext{
    padding: 19px;
    margin: -55px 10px 0px 90px;
    color: red;   

}
.MachineRRAddButton{
    width: 100px;
    height: 30px;

    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    background: #283593;
    margin: 50px 40px 0px 910px;
}
/* 취소 버튼 */
.MachineRRAddButton1{
    width: 100px;
    height: 30px;

    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    background: #283593;
    margin: 0px 40px 0px -20px;
    
}