.item{
    flex: 4;        
    position: relative;
    color: #000000;
    
}
/* 제품 정보 관리 모든 것  */
.itemContainer{
    display: grid;
    white-space: nowrap;
}


/* 제품 코드 */
.itemcode{
    flex: 0.7;
    width: 130px;
    white-space: normal;

}
/* 제품코드 바 부분 */
.itemcode1{
    height: 30px;
    width: 1095px;
    margin: 5px 0px 0px 30px;
    background: #eeeeee;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: 1px solid #e9ecef

}

/* 제품명 */
.itemname{
    flex: 0.6;
    width: 130px;
    margin: 20px 0px 0px 0px;
    white-space: normal


}
/* 제품명 바 */
.itemname1{
    height: 30px;
    width: 1095px;
    margin: 5px 0px 0px 30px;
    background: #eeeeee;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: 1px solid #e9ecef
}

/* 등록일시  */
.itemdate{
    flex: 1;
    width: 130px;
    margin: 20px 0px 0px 0px;
}



/* 제품검색 */
.itemAddButton{
    width: 80px;
    height: 30px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
    margin: 10px 0px 0px 940px;
    color: #FFFFFF;
    background: #283593;
}


/* 검색 초기화 */
.itemAddButton1{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: -30px -40px 20px 1030px;
    color: #FFFFFF;
    background: #283593
}

.itemAddButton2{
    width: 80px;
    height: 30px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
    margin: 10px 0px 0px 1050px;
    color: #FFFFFF;
    background: #283593;
}