.machine{
    flex: 4;        
    position: relative;
    color: #000000;
}
/* 설비 관련 모든 것  */
.machineContainer{
    display: grid;
    white-space: nowrap;
}

/* 설비코드 */
.machinecode{
    flex: 0.7;
    width: 130px;
    white-space: normal;
}
/* 설비 코드 바 */
.machinecode1{
    height: 30px;
    width: 1095px;
    margin: 5px 0px 0px 30px;
    background: #eeeeee;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: 1px solid #e9ecef
}

/* 설비명 */
.machinename{
    flex: 0.6;
    width: 130px;
    margin: 20px 0px 0px 0px;
    white-space: normal;
}

/* 설비명 바 */
.machinename1{
    height: 30px;
    width: 1095px;
    margin: 5px 0px 0px 30px;
    background: #eeeeee;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: 1px solid #e9ecef    
}


/* 설비 등록일시 */
.machinedate{
    flex: 1;
    width: 130px;
    margin: 20px 0px 0px 0px;
}

/* 설비 검색 */
.machineAddButton{
    width: 80px;
    height: 30px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
    margin: 10px 0px 0px 940px;
    color: #FFFFFF;
background: #283593;

}

/* 설비 초기화 */
.machineAddButton1{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: -30px -40px 20px 1030px;
    color: #FFFFFF;
    background: #283593

}

.machineAddButton2{
    width: 80px;
    height: 30px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
    margin: 10px 0px 0px 1050px;
    color: #FFFFFF;
background: #283593;

}