/* 탑 부분 전체 */
.topbar { 
       
    height: 50px;
    padding: 10px;
    background-color: #ffffff;
    
} 
.turtle{
    /* 거북이 이미지 size */
    height :50px;
    margin: 0px 0px 0px 0px;
    width :50px;


}
.closemenu {
    color: #000;
    position: absolute;
    margin: 0px 0px 0px 150px;
    z-index: 9999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    top: 50px;
    cursor: pointer;
  }
.topbarWrapper {
    border-bottom: 2px solid rgb(0, 0, 0);
    height: 100%;
    margin-top: 3px;
    display: flex;
    align-items: conter;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin: -30px 0px 0px 30px;
    list-style:none;



    
}
.topbarIconContainer {
    position: relative;
    margin-right: 10px;
    color: rgb(0, 0, 0);
    
        
}
.topIconBadge {
    position: absolute;
    top: -1px;
    right: -5px;
    background-color: #d50000;
    border-radius: 50%;
    height: 15px;
    width: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #efefef;
    
}
.topRight {
    display: flex;
    align-items: center;
    
}