/* 탑 부분 전체 */
.topbar { 
    flex:4px;
    margin: 0px 0px 0px 180px;
    height: 50px;
    padding: 10px;
    background-color: #ffffff;
    
} 


.topbarWrapper {
    border-bottom: 2px solid rgb(0, 0, 0);
    height: 100%;
    

    z-index: 9999;
    margin-top: 3px;
    display: flex;
    align-items: conter;
    justify-content: space-between;
}


.topbarIconContainer {
    position: relative;
    margin-right: 10px;
    color: rgb(0, 0, 0);
    
        
}
.topIconBadge {
    position: absolute;
    top: -1px;
    right: -5px;
    background-color: #d50000;
    border-radius: 50%;
    height: 15px;
    width: 15px;


    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #efefef;
    
}
.topRight {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 1230px;
    
}