.client {
    flex: 4;        
    position: relative;
    color: #000000;
    padding: 30px;

    
}

.clientTitleContainer {
    font-size: 15px;
    
}

.clientContainer {
    display: flex;
    white-space: nowrap;
    font-size: 15px;
}

.clientnumber{    
    flex: 0.7;    
    
}
.clientnumber1 {
    width: 150px;
    
}
.clientcode{
    flex: 0.6;
    margin: 0px 0px 0px -10px;

}
.clientname {
    flex: 0.6;
    margin: 0px 0px 0px 10px;
    
}


.clientname1{
    width: 150px;
}

.clientdate {
    margin: 0px 0px 0px 20px;
    flex: 1;
}

.search{
    width: 150px;
}
.clientAddButton{
    width: 80px;
    height: 40px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: #b0bec5;
    font-size: 16px;
    background: #232323;
    margin-right: 5px;
    margin: 0px 0px 0px 20px;
    

}

.clientAddButton1 {
    width: 100px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #333333;
    color:#b0bec5;
    background: #232323;
    margin: 0px -30px 0px 10px;

}


