.plan {
    padding: 20px;
    font-size: 15px;
    margin: 0px 0px 0px -20px;
    color: #000000;    
}

.P{
    color: red;
}
.planTitleContainer{
    margin: -10px 0px 0px 10px;
}
/* 중복되지 않는  이쪽 */
.plannext {
    padding-left: 810px;
    margin-top: -15px;
    
}

/* LOT번호, 찾기 바 */
.planNumbername {
    background: #eeeeee;
    width: 900px;
    margin-right: 20px;
    padding: 5px;
    margin: 0px 8px 30px 20px ;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: 1px solid #e9ecef
}




/* 생산명, 수량 */
.planNumbername1 {
    background: #eeeeee;
    width: 990px;
    padding: 5px;
    margin: 0px 10px 40px 20px ;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: 1px solid #e9ecef
}

/* 원자재,공정자재 */
.planNumberButton{
    width: 110px;
    height: 30px;
    border-radius: 5px;
    margin: 0px 0px 0px 20px;
    border-color: #c3fdff;
    color: #1e88e5;
background: #FFFFFF;
;
}
.planNumberButton1{
    width: 80px;
    border-radius: 5px;
    border-color: #c3fdff;
    color: #1e88e5;
background: #FFFFFF;
}



.planmaterial{
    margin: -10px 0px 0px 10px;
}


.planPInfo{
    margin: 20px 0px 0px 10px;

}
.plancompelte{
    margin: 20px 10px 5px 10px;

}
.planNumberButton2{
    width: 80px;
    border-radius: 5px;
    border-color: #c3fdff;
    color: #FFFFFF;
background: #283593;
    margin: 0px 40px 15px 810px;
}
.planNumberButton3{
    width: 80px;
    border-radius: 5px;
    border-color: #c3fdff;
    color: #FFFFFF;
background: #5d99c6;
    
}