.plan {
    padding: 20px;
    font-size: 12px;
    margin: 0px 0px 0px -20px;
    color: #FFFFFF;
    
    
}

.P{
    color: red;
}

.plannext {
    padding-left: 810px;
    margin-top: -15px;
    
}
.planNumbername {
    background: #FFFFFF;
    width: 900px;
    margin-right: 20px;
    padding: 5px;
    margin: 0px 8px 30px 8px ;
}

.processNumberButton{
    width: 80px;
    border: none;
    border-radius: 5px;
    color: white;
    background: #232323;
}

.planNumbername1 {
    background: #FFFFFF;
    width: 990px;
    padding: 5px;
    margin: 10px 10px 40px 8px ;
}


.processNumberButton{
    width: 110px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    background: #232323;
}
.processNumberButton1{
    width: 80px;
    border: none;
    border-radius: 5px;
    color: white;
    background: #232323;
}



.planmaterial{
    margin: 5px 0px 0px 10px;
}


.planPInfo{
    margin: 20px 0px 0px 10px;

}
.plancompelte{
    margin: 10px 10px 5px 0px;

}
.orderNumberButton2{
    width: 80px;
    border: none;
    border-radius: 5px;
    color: white;
    background: #232323;
    margin: 0px 40px 15px 810px;
}
.orderNumberButton3{
    width: 80px;
    border: none;
    border-radius: 5px;
    color: white;
    background: #232323;
    
}