.product {
    flex: 1;
    padding: 10px;

    
}

.productTitleContainer {
    display: flex;
    margin: 30px 0px -30px -15px;
    font-size: 0.875rem;
    color: #000000;
    
      
    
}
/* 생산계획정보 */
.productTitle{
    position: relative;
    padding: 15px;
    font-size: 13px;
}

/* 총 생산건의 검색 결과 내용 */
.productTitleNext {
    flex:1px;
    padding: 0px;
    margin: 38px 0px -200px 0px;
    font-size: 1px;

    
}

/* 신규등록 */
.productAddButton{
    width: 100px;
    height: 30px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: -10px -10px 0px 0px;
    color: #FFFFFF;
    background: #283593;
}



