.product {
    flex: 1;
    padding: 10px;    
    
}

.productTitleContainer {
    display: flex;
    margin: 50px 0px -30px -15px;
    font-size: 0.875rem;
    
      
    
}

.productTitle{
    position: relative;
    padding: 15px;
    font-size: 13px;
}

.productTitleNext {
    flex:1px;
    padding: 0px;
    margin: 38px 0px -200px 0px;
    font-size: 1px;

    
}

.productAddButton{
    width: 90px;
    height: 40px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    background: #232323;
    margin: 15px 0px 0px 5px;
}



