.process{
    flex: 4;        
    position: relative;
    color: #000000;
}
/* 공정 정보 관리 모든 것  */
.processContainer{
    display: grid;
    white-space: nowrap;
}
/* 공정 정보코드 */
.processcode{
    flex: 0.7;
    width: 130px;
    white-space: normal;

}
/* 공정 정보 코드 바 */
.processcode1{
    height: 30px;
    width: 1095px;
    margin: 5px 0px 0px 30px;
    background: #eeeeee;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: 1px solid #e9ecef
}


/* 공정명 */
.processname{
    flex: 0.6;
    width: 130px;
    margin: 20px 0px 0px 0px;
    white-space: normal

}
/* 공정명 바 */
.processname1{
    height: 30px;
    width: 1095px;
    margin: 5px 0px 0px 30px;
    background: #eeeeee;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: 1px solid #e9ecef
}

/* 공정 일시 */
.processdate{
    flex: 1;
    width: 130px;
    margin: 20px 0px 0px 0px;
}
/* 공정 검색 */
.processAddButton{
    width: 80px;
    height: 30px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
    margin: 10px 0px 0px 940px;
    color: #FFFFFF;
    background: #283593;
}
/* 공정 검색 초기화 */
.processAddButton1{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: -30px -40px 20px 1030px;
    color: #FFFFFF;
    background: #283593;
}