.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* 3가지를 나누기 편하게 해놓은 것  */
.featuredItem {
    flex: 1;
    margin: 0px 20px;
    padding: 20px;
    border-radius: 10px;
    cursor:pointer;
    
/* 폴더 모양 만들기 */
   
}

.featuredTitle {
    font-size: 25px;
}
/* 앞쪽 숫자 */
.featuredMoneyContainer {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.featuredMoney {
    font-size: 30px;
    font-weight: 600;
}

.featuredMoneyRate {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.featuredIcon {
    font-size: 30px;
    margin-left: 5px;
    color: #002984;
}

.featuredIcon.negative {
    color: #d50000;
}

.featuredSub {
    font-size: 14;
    color: #757575
}




