.pip{
    display: flex;
    margin: 0px -700px 0px 50px;

}
.pipsearch{
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    background: #283593;
    margin: 0px 0px 0px 10px;
}

/* 생상율 파이 */
.pip1{
    flex: 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:none;
    /* border: 1px solid #e9ecef; */
    margin: 100px 0px 0px -523px;
    width: 550px;
    /* background: #eeeeee; */



}
/* 생산율 원차트박스 */
.pip1box{
    margin: 0px 0px 0px 90px;
    background-color: #eeeeee;
    width: auto;
    height: 600px;
    
}
/* 생산율 */
.pip1Title{
    margin: 50px 0px 0px 165px;
    font-style:italic
    
}
/* 불량률 */
.pip2Title{
    margin: 0px 0px 0px 165px;
    font-style:italic
}
/* 불량량률 파이 */
.pip2{
    flex: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: none;
    margin: 100px 0px 0px 60px;
    /* background: #eeeeee */


}



/* 찾기 버튼 */
.pipname{
    font-size: 1pc;
    margin: 0px 0px 0px -50px;
    color: black;
}    

/* 찾기 버튼 바     */
.pipname1{
    width: 400px;
    margin: 0px 0px 0px 10px;
    border-radius: 10px;
    border: 1px solid #e9ecef;
    background: #eeeeee;
    font-style: italic;
}
/* 생산율 생산수량 */
.pip1SubTitle1{
    margin: -50px 0px 0px 100px;
    color: #1e88e5;
    font-size: 20px;
}

.pip1SubTitleIcon1{
    color: #1e88e5;
}



/* 생산율 불량 수량 */
.pip1SubTitle2{
    margin: -26px 0px 0px 220px;
    color: #e5211e;
    font-size: 20px;

}

/* pipSubTitle3,4,5 합동 */
.pipSubTitle{
    margin: -20px 0px 0px 40px;
}
/* 생산율 총생산계획 */
.pip1SubTitle3{
    height: 99px;
    width: 90px;
    margin: 50px 0px 0px 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0px;
    border-right: 1px  solid white;    
}
/* 생산율 총생산수량 */
.pip1SubTitle4{
    height: 100px;
    width: 90px;
    margin: -99px 0px 0px 130px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0px;
    border-right: 1px  solid white;
}
/* 생산율 총남은수량 */
.pip1SubTitle5{
    margin: -100px 0px 0px 225px;    
}




/* 불량률 양품수량 */
.pip2SubTitle1{
    margin: -50px 0px 0px 120px;
}
/* 불량률 불량 수량 */
.pip2SubTitle2{
    margin: -26px 0px 0px 220px;
    color: #e5211e;
    
}

/* pipSubTitle3,4,5 합동 */
.pip2SubTitle{
    margin: -23px 0px 0px 23px;
    height: 100px;
}
/* 불량률 생산계획 */
.pip2SubTitle3{
    height: 100px;
    width: 70px;
    margin: 50px 0px 0px 70px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0px;
    border-right: 1px  solid white;    
}
/* 불량률 양품수량 */
.pip2SubTitle4{
    height: 100px;
    width: 70px;
    margin: -99px 0px 0px 150px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0px;
    border-right: 1px  solid white;
}
/* 불량률 불량수량 */
.pip2SubTitle5{
    margin: -100px 0px 0px 225px;    
}

.pip2title{
    margin: 60px 0px 0px 245px;
    color: #1e88e5;
}
.pip2title1{
    margin: 60px 0px 0px 245px;
    color: #1e88e5;
}
.pip2title2{
    margin: 60px 0px 0px 245px;
    color: #1e88e5;
}
/* 0번라인 */
.pip2box{
    margin: -40px 0px 0px 90px;
    width: 500px;
    background-color: #eeeeee;
}
/* 1번라인 */
.pip2box1{
    margin: -40px 0px 0px 0px;
    background-color: #eeeeee;
}
/* 2번라인 */
.pip2box2{
    margin: -40px 0px 0px 0px;
    background-color: #eeeeee;
}