.pip{
    display: flex;
    margin: 0px -700px 0px 50px;
}
.pipsearch{
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    background: #283593;
    margin: 0px 0px 0px 10px;
}

/* 생상율 파이 */
.pip1{
    flex: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #e9ecef;
    margin: 50px 0px 0px -403px;
    background: #eeeeee


}
/* 생산율 */
.pip1Title{
    margin: 60px 0px 0px 165px;
    font-style:italic
    
}
/* 불량률 */
.pip2Title{
    margin: 60px 0px 0px 165px;
    font-style:italic
}
/* 불량량률 파이 */
.pip2{
    flex: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #e9ecef;
    margin: 50px 0px 0px 150px;
    background: #eeeeee


}



/* 찾기 버튼 */
.pipname{
    font-size: 1pc;
    margin: 0px 0px 0px -50px;
    color: #1e88e5;
}    

/* 찾기 버튼 바     */
.pipname1{
    width: 400px;
    margin: 0px 0px 0px 20px;
    border-radius: 10px;
    border: 1px solid #e9ecef;
    background: #eeeeee;
    font-style: italic;
}
/* 생산율 생산수량 */
.pip1SubTitle1{
    margin: -50px 0px 0px 120px;
    color: #1e88e5;
}
/* 생산율 남은 수량 */
.pip1SubTitle2{
    margin: -26px 0px 0px 220px;
}

/* pipSubTitle3,4,5 합동 */
.pipSubTitle{
    margin: -20px 0px 0px 23px;
}
/* 생산율 생산계획 */
.pip1SubTitle3{
    height: 100px;
    width: 70px;
    margin: 50px 0px 0px 70px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0px;
    border-right: 1px  solid white;    
}
/* 생산율 생산수량 */
.pip1SubTitle4{
    height: 100px;
    width: 70px;
    margin: -99px 0px 0px 150px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0px;
    border-right: 1px  solid white;
}
/* 생산율 남은수량 */
.pip1SubTitle5{
    margin: -100px 0px 0px 225px;    
}




/* 불량률 양품수량 */
.pip2SubTitle1{
    margin: -50px 0px 0px 120px;
}
/* 불량률 불량 수량 */
.pip2SubTitle2{
    margin: -26px 0px 0px 220px;
    color: #e5211e;
    
}

/* pipSubTitle3,4,5 합동 */
.pip2SubTitle{
    margin: -23px 0px 0px 23px;
    height: 100px;
}
/* 불량률 생산계획 */
.pip2SubTitle3{
    height: 100px;
    width: 70px;
    margin: 50px 0px 0px 70px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0px;
    border-right: 1px  solid white;    
}
/* 불량률 양품수량 */
.pip2SubTitle4{
    height: 100px;
    width: 70px;
    margin: -99px 0px 0px 150px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0px;
    border-right: 1px  solid white;
}
/* 불량률 불량수량 */
.pip2SubTitle5{
    margin: -100px 0px 0px 225px;    
}