  .notice{
    display : flex;
    justify-content: center;
    align-items: center; 
    height: 70px;
    position: absolute;
    top : 0;
    right : 130px;
    overflow: hidden;
  }
  



  .swiper-slide {
    font-size: 18px;
    text-align: center;
  }

  .notice_title{
    font-size: 23px;
    margin-right : 10px;
  }