.ProCessRRAddButton{
    width: 100px;
    height: 30px;

    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    background: #283593;
    margin: 50px 40px 0px 910px;
}

/* 취소 버튼 */
.ProCessRRAddButton1{
    width: 100px;
    height: 30px;

    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    background: #283593;
    margin: 0px 40px 0px -20px;
    
}