.sidebar{
    background-attachment: fixed;
    background-color:#1e88e5;
    color:#b6ffff;
    margin: -70px 30px -120px -10px
    
}
/* 기준정보관리 헤더 */
.sidebarTitle{
    margin: -30px 0px 0px 45px;
    font-weight: bold;
    color: #b6ffff;
}

/* 생산관리 헤더 */
.sidebarTitle1{
    margin: 20px 0px 0px 45px;
    font-weight: bold;
    
}
/* 시스템관리 헤더(나중에 지워도 됨) */
.sidebarTitle2{
    margin: 20px 0px 0px 45px;
    font-weight: bold;
}

/* 사이드바 모든 것  */
.sidebarList{    
    list-style:none;
    position: sticky;
    top: 0px;
    margin: 10px 0px 0px 70px;
    padding-left: 20px;
}



li{
    margin: 10px;
}

a{
    text-decoration: none;
    color:  #b6ffff;
    
    
}



.logo {
    font-weight: bold;
    font-size: 35px;
    color:  #b6ffff;
    cursor: pointer;
    padding: 0px 0px 0px 30px;
    margin: -20px 0px 70px 10px;
    list-style:none;    
}

.closemenu {
    color:#b6ffff;
    position: absolute;
    margin: -100px 0px 0px 150px;
    z-index: 9999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
  }

.turtle{
    /* 거북이 이미지 size */
    animation-direction:normal;
    height :55px;    
    width :100px;
    margin: 4px 0px -30px 0px
    
}
