.sidebar{
    background-color: #063146;
    
    color:white

}


.sidebarList{
    list-style:none;
    position: sticky;
    top: 0px;
    
  
    
    
  
}

a{
    text-decoration: none;
    color:white
}