
.login-div{
    display: flex;
    height: 100vh;
}
.window{
    width: 100%; 
    height: 100%;
}



.loginId,
.loginPassword{
    color: #ecf0f3;
    font-weight: bold;
    margin: 100px 10px 0px 0px;
    outline: #90caf9;
}

/* 로그인 위쪽 부분 */
.loginturtle{
    height :55px;    
    width :100px;
    margin: 0px 0px 0px 0px
}


/* MES 부분 */
.form-div h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    /* margin: 0px 0px 0px 80px; */
    color: #90caf9;
}


.form-div h4{
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    /* margin: 0px 0px 0px 60px; */
    color: #90caf9;
}


.login-btn{
    width:100%;
    margin-top:10px;
    background-color: #90caf9 !important;
    border-color:#90caf9 !important;
    color:#263238;
    
}

.join-btn-div{
    text-align: right;
}


/* 메인 회원가입 버튼 */
.join-link{
    color:#90caf9;
}

