
.window{
    background-attachment: fixed;
    position: absolute; 
    top: 0; 
    left: 100; 
    right: 0; 
    bottom: 0;
    width: 1200px;
    height: 740px
}



.loginId,
.loginPassword{
    color: #90caf9;
    font-weight: bold;
    margin: 100px 10px 0px 0px;
    outline: #90caf9;
}

/* 로그인 위쪽 부분 */
.loginturtle{
    height :55px;    
    width :100px;
    margin: 0px 0px 0px 0px
}


/* MES 부분 */
.form-div h2{
    font-weight: bold;
<<<<<<< HEAD
    font-size: 30px;
    margin: 0px 0px 0px 80px;
    color: #90caf9;
}


.form-div h4{
    font-weight: bold;
    font-size: 10px;
    margin: 0px 0px 0px 60px;
    color: #90caf9;
=======
    font-size: 40px;
    margin: 0px 0px 0px 60px;
    color: #90caf9;
}

/* 회사 이름 */
.title{
    
>>>>>>> 32c183cafbc82de1afd7aca67a6d25c15f51b93b
}


.login-btn{
    width:100%;
    margin-top:10px;
    background-color: #90caf9 !important;
    border-color:#90caf9 !important;
    color:#263238;
    
}

.loginIdname{
    margin: 50px 0px -20px 15px;

}

/* 메인 회원가입 버튼 */
.join-link{
    margin: 0px 0px 0px 235px;
    color:#90caf9;
}