.order {
    padding: 20px;
    font-size: 12px;
    margin: 0px 0px 0px -20px;
    color: #FFFFFF;

}
.O{
    color: red;
}
.ordernext{
    padding-left: 810px;
    margin-top: -15px;
}

.orderNumbername{
    background: #FFFFFF;
    width: 900px;
    margin-right: 20px;
    padding: 5px;
    margin: 0px 8px 30px 8px ;
}
.orderNumbername1{
    background: #FFFFFF;
    width: 990px;
    padding: 5px;
    margin: 10px 10px 40px 8px ;
}
.quantityNumbername{
    background: #FFFFFF;
    width: 990px;
    padding: 5px;
    margin: 10px 10px 40px 8px ;
}

.orderNumberButton {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    background: #232323;
}
.orderNumberButton1{
    width: 110px;
    border: none;
    border-radius: 5px;
    color: white;
    background: #232323;
}
.ordermaterial{


    margin: 10px 0px 0px 10px;

}

.orderPInfo{

    margin: 10px 0px 0px 10px;

}
.orderNumberButton2{
    width: 80px;
    border: none;
    border-radius: 5px;
    color: white;
    background: #232323;
    margin: 0px 40px 0px 810px;
}
.orderNumberButton3{
    width: 80px;
    border: none;
    border-radius: 5px;
    color: white;
    background: #232323;
    margin: 0px 0px 0px 0px;
}