.management {
    margin: -218px 0px 0px -10px;
    flex: 4;
    position: relative;
    color: #000000;
}


.managementContainer {
    display: grid;
    white-space: nowrap;
}
/* 생상계획관리 에서 LOT 번호  */
.managementnumber{
    flex: 0.7;
    width: 130px;
    margin: 0px 0px 0px 0px;

    white-space: normal;
}
/* LOT 번호 바  */
.managementnumber1 {
    height: 30px;
    width: 1145px;
    margin: 5px 0px 0px 20px;
    background: #eeeeee;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: 1px solid #e9ecef
}

/* 제품명 */
.managementname {
    flex: 0.6;
    width: 130px;
    margin: 20px 0px 0px 0px;
    white-space: normal
}

/* 제품명 바 */
.managementname1{
    height: 30px;
    width: 1145px;
    margin: 5px 0px 0px 20px;
    background: #eeeeee;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: 1px solid #e9ecef
}

/* 생상완료예정일 */
.managementdate {
    flex: 1;
    width: 130px;
    margin: 20px 0px 0px 0px;
}



/* 검색버튼 */
.managementAddButton{
    width: 80px;
    height: 30px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
    margin: 30px 0px 0px 970px;
    color: #FFFFFF;
    background: #283593;
}
/* 검색 초기화 버튼 */
.managementAddButton1 {
    width: 100px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: -30px -40px 10px 1073px;
    color: #FFFFFF;
    background: #283593;
}

.detailinfo{
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
    color: #FFFFFF;
    background: #283593;
}