.management {
    margin-top: -200px;
    flex: 4;    
    padding: 10px;
    position: relative;
    
}

.managementTitleContainer {
    padding: 15px;
    display: flex;
    margin: -10px 0px -20px -30px;
    font-size: 5px;
    
}

.managementContainer {
    display: flex;
    white-space: nowrap;
    margin: -10px 0px -20px -30px;
    font-size: 10px;
}

.managementnumber{    
    flex: 0.7;    
    padding: 20px;
    
}
.managementnumber1 {
    width: 150px;
    margin: 0px 0px 0px 10px ;
    
}
.managementname {
    flex: 0.6;
    margin: 23px 0px 0px 0px;
    padding: 0px;
    
    
}


.managementname1{
    width: 150px;
    margin: 1px 10px 0px 10px ;
}

.managementdate {
    flex: 1;
    padding: 0px 230px 0px 0px ;
    margin: 23px 10px 0px 10px;

}

.search{
    width: 150px;
    margin: 0px 0px 0px 10px;
}
.managementAddButton{
    width: 80px;
    height: 40px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    background: #232323;
    margin-right: 5px;
    

}

.managementAddButton1 {
    width: 100px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #333333;
    background: #FFFFFF;
    color: #FFFFFF;
    background: #232323;



}


