.joinwindow{
    width: 100%;
	margin: 10px auto;
	border: 1px solid #000000;
	position: relative;
    color: #90caf9;
}

.login-div{
    display: flex;
    margin: 200px 400px;   
}

/* 회원가입에 부분에 글자 적는 부분 */
.join-div{
    text-align: center;
    align-content: center;

}
/* 로그인 크기 */
.form-div{
    background-color: #fff;
    border:1px solid #fff;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%);
    height: 100px;
    width: 300px;
    display: inline-block;
    padding: 20px;
    margin: -210px 0px -200px -410px;
    position: center;
}

/* 회원가입 */
.form-div1 h5{
    color: #90caf9;
    font-weight: bold;
    font-size: 30px;
}





/* 회원가입 버튼 */
.join-btn{
    width:100%;
    margin-top:30px;
    background-color: #90caf9 !important;
    border-color: #90caf9 !important;
}


/* 가입 취소 버튼 */
.back-btn{
    width:100%;
    margin-top:5px;
    background-color: #fff !important;
    border-color: #90caf9 !important;
    color: #263238 !important;
}

.mb-3{
    margin-top:20px;
    margin-bottom: 60px;
}
/* 회원 가입 내용들 */
.join-label{
    text-align: left;
    display: block;
    margin-left: 5px;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 3px !important;
    color: #90caf9;
    font-weight: bold;

    
}
    /* 회원가입 input box */
.join-id{
    width: 175px;
}
.join-pw{
    width: 175px;
}
.join-pwcheck{
    width: 175px;
}
.join-email{
    width: 175px;
}