.userList {

}

/* 표의 header*/
.MuiDataGrid-columnHeaders {
    
    background-color: #1e88e5;  
}

/* 표 내용  */
.MuiDataGrid-cellContent{
    color: #000000;
    border-color: 1px solid rgba(6,49,70,1)

}



/* header 아래쪽 선 */
.css-1w5m2wr-MuiDataGrid-virtualScroller{
    border: 1px solid rgba(6,49,70,1)
}



/* 아래번호 */
.MuiTablePagination-displayedRows{
    color: #000000;
    border-color: 1px solid rgba(6,49,70,1)
}


/* 페이지 넘기는 것  */
.MuiButtonBase-root{
    color: #ffffff;
    border-color: 1px solid rgba(6,49,70,1)

}

/* 바닥에 화살표 */
.MuiSvgIcon-root{
    color: rgb(0, 0, 0);
    
}


.MuiDataGrid-columnHeaders{
    /* width:10px; */
}