.userList {
    flex: 4;
    margin-top: 200px;
    
}

.userListEdit{
    border: 3px solid #c9d4de;
    size: 10px;
    border-radius:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    word-spacing: 5.9px;
    
}
