.NewRTitle {
    flex: 4;
    margin-top: 200px;
    padding: 20px;
    

}

.processTitle {
    flex: 1;
    padding: 15px;
    font-size: 16px;
    
}

.processR {
    flex: 1;
    position: relative;
    padding:15px;
    margin-top: -30px;
}

.processnext {
    padding-left: 110px;
    margin-top: -50px;
    font-size: 0.001in;
    color:red;
}

.pp{
    color: red;
}

.proceeclassification{
    font-size: 12px;
    padding: 20px;
    margin-bottom: 10px
}

.processAddButton{
    padding: 20px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
    border: none;
    margin-top: -150px;
    padding-right: 20px;
    
    
    
}

.processAddButton1{
    padding:20px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
    border: none;
    margin-top: -500px;

}

