.monitoring{
    display: flex;
    margin: 200px 100px;
    
}
​
.chart_one{
    display: flex;
    margin: auto;
}
.CircularProgressbar-path{
    width: 100px;
    height:  100px;
}
.chart_two{
    margin: 0px 100px 0px 100px;
}
​
.chart_thr{
    margin: auto;
}



