.material{
    flex: 4;        
    position: relative;
    color: #000000;
}
/* 원자재의 모든 것  */
.materialContainer{
    display: grid;
    white-space: nowrap;
}

/* 원자재 코드 */
.materialcode{
    flex: 0.7;
    width: 130px;
    white-space: normal;
}
/* 원자재코드 바 */
.materialcode1{
    height: 30px;
    width: 1095px;
    margin: 5px 0px 0px 10px;
    background: #eeeeee;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: 1px solid #e9ecef

}
/* 원자재 명 */
.materialname{
    flex: 0.6;
    width: 130px;
    margin: 20px 0px 0px 0px;
    white-space: normal;
}
/* 원자재 명 바 */
.materialname1{
    height: 30px;
    width: 1095px;
    margin: 5px 0px 0px 10px;
    background: #eeeeee;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: 1px solid #e9ecef    
}

/* 원자재 등록일시 */
.materialdate{
    flex: 1;
    width: 130px;
    margin: 20px 0px 0px 0px;
}

.materialAddButton{
    width: 80px;
    height: 40px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: #b0bec5;
    font-size: 16px;
    background: #232323;
    margin-right: 5px;
    margin: 10px 0px 0px 920px;

}

.materialAddButton1{
    width: 100px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #333333;
    color:#b0bec5;
    background: #232323;
    margin: -39px -40px 20px 1020px;

}